version: '3.8'
services:
  php-apache-environment:
    image: php:8.2-apache
    container_name: php-apache
    build:
      context: ./
      dockerfile: docker/Dockerfile
    depends_on:
      - db
    volumes:
      - ./html:/var/www/html/
    ports:
      - '${APP_PORT}:80'
  db:
    image: mariadb:10.5
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: always
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=${DB_DB}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    expose:
      - ${DB_PORT}
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64
    ports:
      - '${APP_PHPMYADMIN_PORT}:80'
    restart: always
    environment:
      PMA_HOST: db
    depends_on:
      - db
volumes:
  db_data:


